# Proyectos Android (Gradle)
.gradle/
/build/
/app/build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.toml

# Salidas y temporales
*.apk
*.aar
/captures
.externalNativeBuild
.cxx
bin/
gen/
out/

# Basura del sistema
.DS_Store
Thumbs.db
*.log